################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SinovadDemoWebApi/.vs
/SinovadDemoWebApi/SinovadDemoWebApi/bin
/SinovadDemoWebApi/SinovadDemoWebApi/obj
/SinovadDemoWebApi/Application/SinovadDemo.Application.Builder/bin/Debug/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Builder/obj
/SinovadDemoWebApi/Application/SinovadDemo.Application.Configuration/bin/Debug/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Configuration/obj
/SinovadDemoWebApi/Application/SinovadDemo.Application.DTO/bin/Debug/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.DTO/obj
/SinovadDemoWebApi/Application/SinovadDemo.Application.Encryption/bin/Debug/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Encryption/obj
/SinovadDemoWebApi/Application/SinovadDemo.Application.Enums/bin/Debug/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Enums/obj
/SinovadDemoWebApi/Application/SinovadDemo.Application.Helpers/bin/Debug/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Helpers/obj
/SinovadDemoWebApi/Application/SinovadDemo.Application.Interface/bin/Debug/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Interface/obj
/SinovadDemoWebApi/Application/SinovadDemo.Application.Main/bin/Debug/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Main/obj
/SinovadDemoWebApi/Application/SinovadDemo.Application.Shared/bin/Debug/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Shared/obj
/SinovadDemoWebApi/Application/SinovadDemo.Application.Strategy/bin/Debug/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Strategy/obj
/SinovadDemoWebApi/Domain/SinovadDemo.Domain.Entity/bin/Debug/net7.0
/SinovadDemoWebApi/Domain/SinovadDemo.Domain.Entity/obj
/SinovadDemoWebApi/Infrastructure/SinovadDemo.Infrastructure.Repository/bin/Debug/net7.0
/SinovadDemoWebApi/Infrastructure/SinovadDemo.Infrastructure.Repository/obj
/SinovadDemoWebApi/Infrastructure/SinovadDemo.Infrastructure.UnitOfWork/bin/Debug/net7.0
/SinovadDemoWebApi/Infrastructure/SinovadDemo.Infrastructure.UnitOfWork/obj
/SinovadDemoWebApi/Transversal/SinovadDemo.Transversal.Collection/bin/Debug/net7.0
/SinovadDemoWebApi/Transversal/SinovadDemo.Transversal.Collection/obj
/SinovadDemoWebApi/Transversal/SinovadDemo.Transversal.Common/obj
/SinovadDemoWebApi/Transversal/SinovadDemo.Transversal.Logger/bin/Debug/net7.0
/SinovadDemoWebApi/Transversal/SinovadDemo.Transversal.Logger/obj
/SinovadDemoWebApi/Transversal/SinovadDemo.Transversal.Mapping/bin/Debug/net7.0
/SinovadDemoWebApi/Transversal/SinovadDemo.Transversal.Mapping/obj
/SinovadDemoWebApi/Transversal/SinovadDemo.Transversal.Paging/bin/Debug/net7.0
/SinovadDemoWebApi/Transversal/SinovadDemo.Transversal.Paging/obj
/SinovadDemoWebApi/Infrastructure/SinovadDemo.Infrastructure.Interface/bin/Debug/net7.0
/SinovadDemoWebApi/Infrastructure/SinovadDemo.Infrastructure.Interface/obj
/SinovadDemoWebApi/Application/SinovadDemo.Application.Builder/bin/Release/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Configuration/bin/Release/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.DTO/bin/Release/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Encryption/bin/Release/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Enums/bin/Release/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Helpers/bin/Release/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Interface/bin/Release/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Shared/bin/Release/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Strategy/bin/Release/net7.0
/SinovadDemoWebApi/Domain/SinovadDemo.Domain.Entity/bin/Release/net7.0
/SinovadDemoWebApi/Infrastructure/SinovadDemo.Infrastructure.Interface/bin/Release/net7.0
/SinovadDemoWebApi/Infrastructure/SinovadDemo.Infrastructure.Repository/bin/Release/net7.0
/SinovadDemoWebApi/Infrastructure/SinovadDemo.Infrastructure.UnitOfWork/bin/Release/net7.0
/SinovadDemoWebApi/Transversal/SinovadDemo.Transversal.Collection/bin/Release/net7.0
/SinovadDemoWebApi/Transversal/SinovadDemo.Transversal.Logger/bin/Release/net7.0
/SinovadDemoWebApi/Transversal/SinovadDemo.Transversal.Mapping/bin/Release/net7.0
/SinovadDemoWebApi/Transversal/SinovadDemo.Transversal.Paging/bin/Release/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Main/bin/Release/net7.0
/SinovadDemoWebApi/Transversal/SinovadDemo.Transversal.Common/bin/Debug/net7.0
/SinovadDemoWebApi/Domain/SinovadDemo.Domain.Core/bin/Debug/net7.0
/SinovadDemoWebApi/Domain/SinovadDemo.Domain.Core/obj
/SinovadDemoWebApi/Domain/SinovadDemo.Domain.Interface/bin/Debug/net7.0
/SinovadDemoWebApi/Domain/SinovadDemo.Domain.Interface/obj
/SinovadDemoWebApi/Domain/SinovadDemo.Domain.Interface/bin/Release/net7.0
/SinovadDemoWebApi/Transversal/SinovadDemo.Transversal.Common/bin/Release/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Validator/bin/Debug/net7.0
/SinovadDemoWebApi/Application/SinovadDemo.Application.Validator/obj
/SinovadDemoWebApi/Application/SinovadDemo.Application.Validator/bin/Release/net7.0
/SinovadDemoWebApi/Test/SinovadDemo.Application.Test/bin/Debug/net7.0
/SinovadDemoWebApi/Test/SinovadDemo.Application.Test/obj
/SinovadDemoWebApi/Infrastructure/Data/bin/Debug/net7.0
/SinovadDemoWebApi/Infrastructure/Data/obj
/SinovadDemoWebApi/Infrastructure/Data/bin/Release/net7.0
/SinovadDemoWebApi/Test/SinovadDemo.Application.Test/bin/Release/net7.0
/SinovadDemoWebApi/Persistence/SinovadDemo.Persistence.Data/bin/Debug/net7.0
/SinovadDemoWebApi/Persistence/SinovadDemo.Persistence.Data/obj
/SinovadDemoWebApi/Persistence/SinovadDemo.Persistence.Repository/bin/Debug/net7.0
/SinovadDemoWebApi/Persistence/SinovadDemo.Persistence.Repository/obj
/SinovadDemoWebApi/Application/SinovadDemo.Application.UseCases/obj
/SinovadDemoWebApi/Application/SinovadDemo.Application.UseCases/bin/Debug/net7.0
/SinovadDemoWebApi/Persistence/SinovadDemo.Persistence/obj
/SinovadDemoWebApi/Persistence/SinovadDemo.Persistence/bin/Debug/net7.0
/SinovadDemoWebApi/Domain/SinovadDemo.Domain/bin/Debug/net7.0
/SinovadDemoWebApi/Domain/SinovadDemo.Domain/obj
/SinovadDemoWebApi/Application/SinovadDemo.Application.UseCases/bin/Release/net7.0
/SinovadDemoWebApi/Domain/SinovadDemo.Domain/bin/Release/net7.0
/SinovadDemoWebApi/Persistence/SinovadDemo.Persistence/bin/Release/net7.0
/SinovadDemoWebApi/SinovadDemo.Infrastructure/bin/Debug/net7.0
/SinovadDemoWebApi/SinovadDemo.Infrastructure/obj
/SinovadDemoWebApi/SinovadDemo.Infrastructure/bin/Release/net7.0
/SinovadDemoWebApi/obj
/SinovadDemoWebApi/Test/SinovadDemo.Application.Test/appsettings.json
/SinovadDemoWebApi/SinovadDemoWebApi/appsettings.json
/SinovadDemoWebApi/Infrastructure/SinovadDemo.Infrastructure/bin
/SinovadDemoWebApi/Infrastructure/SinovadDemo.Infrastructure/obj
/SinovadDemoWebApi/Service/SinovadDemoWebApi/.config
/SinovadDemoWebApi/Service/SinovadDemoWebApi/bin
/SinovadDemoWebApi/Service/SinovadDemoWebApi/obj
/SinovadDemoWebApi/Service/SinovadDemoWebApi/appsettings.json
